.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
    
}

.cards img {
    width: 20rem;
    height: 19rem;
    border: 2px solid grey;
}

.card img {
    width: 20rem;
    height: 19rem;
}

.fav-card {
    font-size: 2rem;
}